<div *ngIf="totalPages > 1" class="flex justify-center items-center gap-2 mt-8 text-sm">
  <button 
    (click)="previous()" 
    [disabled]="currentPage === 0"
    class="px-3 py-1 border rounded disabled:opacity-50 hover:bg-blue-50">
    « Trước
  </button>

  <button 
    *ngFor="let p of visiblePages"
    [disabled]="p === '...'" 
    (click)="changePage(p)"
    [class.bg-blue-600]="p === currentPage + 1"
    [class.text-white]="p === currentPage + 1"
    class="px-3 py-1 border rounded hover:bg-blue-100">
    {{ p }}
  </button>

  <button 
    (click)="next()" 
    [disabled]="currentPage + 1 >= totalPages"
    class="px-3 py-1 border rounded disabled:opacity-50 hover:bg-blue-50">
    Sau »
  </button>
</div>
