<div class="p-6">
  <nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="dayForm" nzLayout="vertical">
      <!-- Title -->
      <nz-form-item>
        <nz-form-label nzRequired>Tiêu đề</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập tiêu đề">
          <input nz-input formControlName="title" placeholder="Ví dụ: Tham quan Vịnh Hạ Long" />
        </nz-form-control>
      </nz-form-item>

      <!-- Description -->
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Location -->
      <nz-form-item>
        <nz-form-label>Địa điểm chính trong ngày</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="locationId" nzShowSearch nzAllowClear nzPlaceHolder="Chọn địa điểm">
            <nz-option *ngFor="let loc of locations$ | async" [nzLabel]="loc.name" [nzValue]="loc.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>

    <!-- Services Management (Only in Edit mode) -->
    <div *ngIf="dayData">
      <nz-divider nzText="Quản lý dịch vụ" nzOrientation="left"></nz-divider>
      <div nz-row [nzGutter]="16">
        <!-- Service Type Selector -->
        <div nz-col nzSpan="12">
          <nz-select
            [(ngModel)]="selectedServiceType"
            (ngModelChange)="onServiceTypeChange($event)"
            nzAllowClear
            nzPlaceHolder="1. Chọn loại dịch vụ"
            class="w-full"
          >
            <nz-option *ngFor="let type of serviceTypes" [nzLabel]="type.name" [nzValue]="type.id"></nz-option>
          </nz-select>
        </div>
        <!-- Partner Service Selector -->
        <div nz-col nzSpan="12">
          <nz-input-group [nzAddOnAfter]="addButton">
            <nz-select
              [(ngModel)]="selectedPartnerService"
              [nzLoading]="isServiceLoading"
              [nzDisabled]="!selectedServiceType"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="2. Chọn dịch vụ cụ thể"
              class="w-full"
            >
              <nz-option *ngFor="let service of filteredPartnerServices" [nzLabel]="service.name + ' (' + service.partnerName + ')'" [nzValue]="service.id"></nz-option>
            </nz-select>
          </nz-input-group>
          <ng-template #addButton>
            <button nz-button nzType="primary" (click)="addSelectedService()" [disabled]="!selectedPartnerService">
              <span nz-icon nzType="plus"></span>
            </button>
          </ng-template>
        </div>
      </div>

      <!-- Selected Services List -->
      <div class="mt-4">
        <nz-list [nzDataSource]="selectedServicesList" nzItemLayout="horizontal" [nzRenderItem]="item">
          <ng-template #item let-service>
            <nz-list-item [nzActions]="[removeAction]">
              <ng-template #removeAction>
                <a (click)="removeService(service.id)" class="text-red-500">Xóa</a>
              </ng-template>
              <nz-list-item-meta [nzTitle]="service.name" [nzDescription]="service.partnerName"></nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </div>
  </nz-spin>
</div>

<!-- Footer with actions -->
<div class="absolute bottom-0 right-0 w-full p-4 border-t bg-white flex justify-end gap-2">
  <button nz-button (click)="onClose()">Đóng</button>
  <button nz-button nzType="primary" (click)="onSave()" [nzLoading]="isLoading" [disabled]="dayForm.invalid">
    Lưu thông tin
  </button>
</div>
