<form nz-form [formGroup]="validateForm">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>
            {{ isReceipt() ? 'Người nộp' : 'Người chi' }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="(isReceipt() ? 'Vui lòng nhập người nộp tiền!' : 'Vui lòng nhập người chi tiền!')">
            <input nz-input formControlName="paidBy" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>
            {{ isReceipt() ? 'Nộp cho' : 'Người nhận' }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="(isReceipt() ? 'Vui lòng nhập người nhận tiền!' : 'Vui lòng nhập người nhận tiền!')">
            <input nz-input formControlName="payTo" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Ngày tạo</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng chọn ngày!">
            <nz-date-picker formControlName="createdDate" class="w-full"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Phương thức</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng chọn phương thức!">
            <nz-select formControlName="paymentMethod">
                <nz-option *ngFor="let method of paymentMethods" [nzLabel]="method" [nzValue]="method"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Số tiền</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập số tiền!">
            <nz-input-number formControlName="amount" [nzMin]="1" [nzStep]="1000" class="w-full"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Nội dung</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập nội dung!">
            <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Ghi chú</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <textarea nz-input formControlName="note" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea>
        </nz-form-control>
    </nz-form-item>
</form>
